// type
$headline-stack: "Yeseva One", serif;
$body-stack: "Open Sans", "Helvetica", sans-serif;

// colors

$coral-1: #EBD4C5;
$coral-: #CE8B77;
$coral-3: #B56D51;
$coral-4: #E36B53;

$gold-1: #E6D2B8;
$gold-2: #CC9B61;
$gold-3: #AC8740;

$forest-2: #977F64;
$forest-3: #5A5D37;
$forest-4: #345242;

$night-3: #3A2F32;
$night-4: #0B121A;

$neutral-dark: #222222;
$neutral-light: #F5EEE6;